.AboutMe{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    max-width: 80vw;
    gap: 2rem;
    @media screen and (max-width: 720px) {
        flex-direction: column;
    }
}
.AboutMe_Container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 2rem;
    max-width: 100%;
    height: auto;
    @media screen and (max-width: 720px) {
        align-items: center;
    }
}
.AboutMe_Heading{
    font-size: 3rem;
}
.AboutMe_Desc{
    max-width: 80vw;
}
.AboutMe_Photo{
    width: 80%;
    height: auto;
    object-fit: cover;
}